<div class="post">
  <div class="title">
    <a href="{{post_text}}" target="_blank">{{title}}</a>
    <span>({{post_text}})</span>
  </div>
  <div >
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</div>